<app-header />
<div class="container">
  <div class="creating-career">
    <div class="creating-career__content">
      <h2 class="title-content">Criar nova Carreira</h2>
      <form
        class="creating-career__form"
        [formGroup]="formCreatingCareer"
        (ngSubmit)="submitForm()"
      >
        <div class="input-form">
          <label for="fifaCareer">Fifa da Carreira:</label>
          <input
            type="text"
            #searchFifaVersion
            placeholder="Ex: 16, 17..."
            formControlName="fifaCareer"
            [matAutocomplete]="autoFV"
            (input)="onSearchUpdatedFifaVersion(searchFifaVersion.value)"
          />
          <mat-autocomplete #autoFV="matAutocomplete">
            @for (optionFifa of fifaVersion(); track optionFifa) {
            <mat-option [value]="optionFifa">{{ optionFifa }}</mat-option>
            }
          </mat-autocomplete>
        </div>
        <div class="input-form">
          <label for="urlImageCoach">Liga da Carreira:</label>
          <input
            placeholder="Digite aqui..."
            type="text"
            formControlName="urlImageCoach"
          />
        </div>
        <div class="input-form">
          <label for="teamCareer">Time da Carreira:</label>
          <input
            placeholder="Digite aqui..."
            type="text"
            formControlName="teamCareer"
          />
        </div>
        <div class="input-form">
          <label for="coachsName">Nome do Técnico:</label>
          <input
            placeholder="Digite aqui..."
            type="text"
            formControlName="coachsName"
          />
        </div>
        <div class="input-form">
          <button
            type="submit"
            class="btn-primary"
            (click)="submitForm()"
            [disabled]="formCreatingCareer.invalid"
          >
            CRIAR CARREIRA
          </button>
        </div>
        <div class="input-form">
          <label for="nationality">Nacionalidade:</label>
          <input
            type="text"
            #searchNation
            placeholder="Digite aqui a nacionalidade..."
            formControlName="nationality"
            [matAutocomplete]="autoNation"
            (input)="onSearchUpdatedNation(searchNation.value)"
          />
          <mat-autocomplete #autoNation="matAutocomplete">
            @for (name of nations(); track name.nation) {
            <mat-option [value]="name.nation">{{ name.nation }}</mat-option>
            }
          </mat-autocomplete>
        </div>
        <div class="input-form">
          <label for="urlImageCoach">Foto do Técnico (URL):</label>
          <input
            placeholder="Digite aqui..."
            type="text"
            formControlName="urlImageCoach"
          />
        </div>
      </form>
    </div>
    <div class="image-manager">
      <div class="image-manager__background">
        <img [src]="getUrl" alt="Foto do Manager {{ getCoachsName }}" />
      </div>
      <h3>{{ getCoachsName }}</h3>
    </div>
  </div>
</div>
