div.statistics {
  width: 515px;
  height: 120px;
  background-color: var(--primary-010);
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  position: relative;
  button.circle-edit-player {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}

.column-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
