<phub-header />
<phub-loader></phub-loader>

<div class="container">
  <div class="creating-form-background">
    <div class="creating-form-background__content">
      <h2 class="title-content">Criar nova Carreira</h2>
      <div class="creating-form-background__form">
        <form [formGroup]="formCreatingCareer" (ngSubmit)="submitForm()">
          <div class="input-form">
            <label for="fifaCareer">Fifa da Carreira:</label>
            <input
              type="text"
              #searchFifaVersion
              placeholder="Ex: 16, 17..."
              formControlName="fifaCareer"
              phubFifaCareer
              maxlength="10"
              [matAutocomplete]="autoFV"
              (input)="onSearchUpdatedFifaVersion(searchFifaVersion.value)"
            />
            <mat-autocomplete #autoFV="matAutocomplete">
              @for (optionFifa of fifaVersion(); track optionFifa) {
              <mat-option [value]="optionFifa">{{ optionFifa }}</mat-option>
              }
            </mat-autocomplete>
            @if (fifaCareer.errors | onlyOneError: ['invalidVersion']; as error) {
              @if (error.invalidVersion) {
                <mat-error>A versão do FIFA é inválida</mat-error>
              }
            }


          </div>
          <div class="input-form">
            <label for="leagueCareer">Liga da Carreira:</label>
            <input
              type="text"
              #searchLeagueCareer
              placeholder="Ex: Bundesliga..."
              formControlName="leagueCareer"
              [matAutocomplete]="autoLC"
              (input)="onSearchUpdatedLeagueCareer(searchLeagueCareer.value)"
              (focus)="onSearchUpdatedLeagueCareer(searchLeagueCareer.value)"
              appUpperCase
            />
            <mat-autocomplete #autoLC="matAutocomplete">
              @for (league of leagues(); track league.name) {
              <mat-option [value]="league.name">{{ league.name }}</mat-option>
              }
            </mat-autocomplete>
          </div>
          <div class="input-form">
            <label for="teamCareer">Time da Carreira:</label>
            <input
              type="text"
              #searchTeamCareer
              placeholder="Selecione aqui o clube..."
              formControlName="teamCareer"
              [matAutocomplete]="autoTC"
              (focus)="selectedTeamsFilteredByLeague()"
              appUpperCase
            />
            <mat-autocomplete #autoTC="matAutocomplete">
              @for (team of filteredOptions; track team) {
              <mat-option [value]="team.name">{{ team.name }}</mat-option>
              }
            </mat-autocomplete>
          </div>

          <div class="input-form">
            <button
              type="submit"
              class="btn-primary"
              [disabled]="
                !this.formCreatingCareer.valid || !this.formCreatingCoach.valid
              "
            >
              CRIAR CARREIRA
            </button>
          </div>
        </form>
        <form [formGroup]="formCreatingCoach">
          <div class="input-form">
            <label for="coachesName">Nome do Técnico:</label>
            <input
              placeholder="Digite aqui..."
              type="text"
              formControlName="coachesName"
              maxlength="20"
            />
          </div>
          <div class="input-form">
            <label for="nationality">Nacionalidade:</label>
            <input
              type="text"
              #searchNation
              placeholder="Digite aqui a nacionalidade..."
              formControlName="nationality"
              [matAutocomplete]="autoNation"
              (input)="onSearchUpdatedNation(searchNation.value)"
              appUpperCase
            />
            <mat-autocomplete #autoNation="matAutocomplete">
              @for (name of nations(); track name.nation) {
              <mat-option [value]="name.nation">{{ name.nation }}</mat-option>
              }
            </mat-autocomplete>
          </div>
          <div class="input-form">
            <label for="urlImageCoach">Foto do Técnico:</label>
            <mat-radio-group
              aria-label="Select an option"
              [(ngModel)]="selectedOptionCoachImage"
              [ngModelOptions]="{ standalone: true }"
            >
              <mat-radio-button value="url">URL</mat-radio-button>
              <mat-radio-button value="file">Arrastar Arquivo</mat-radio-button>
            </mat-radio-group>
            @if (selectedOptionCoachImage === "url") {
            <input
              placeholder="Adicione a URL aqui..."
              type="text"
              formControlName="urlImageCoach"
            />
            } @else if (selectedOptionCoachImage === "file") {
            <file-upload formControlName="urlImageCoach"></file-upload>
            }
          </div>
        </form>
      </div>
    </div>
    <button [routerLink]="['/']" class="btn-arrow-return">
      <img src="../../../assets/icons/voltar.svg" alt="Voltar para a Home" />
    </button>

    @if (getTeamCareer) {
      <phub-details-photo
      [clubName]="getTeamCareer"
      [creatingManager]="{
          name: getCoachesName,
          url: getUrl
        }
          "
    />
    }

  </div>
</div>
