<app-header />
<phub-loader>
</phub-loader>

<div class="container">
  @if (getCareerDetails(); as career) {
  <div class="career">
    <div class="career__content">
      <h2 class="title-content">{{ career.teamCareer }}</h2>
      <h4 class="subtitle-league">
        {{ career.leagueCareer }} - {{ career.fifaCareer }}
      </h4>
      <h2 class="semi-bold">Temporadas</h2>
      <div class="career__seasons">
        @if (seasons()) { @for (season of seasons(); track season.id) {
        <button
          class="btn-primary"
          [routerLink]="[season.seasonName]"
        >
          {{ showSeason(season.seasonName!) }}
        </button>
        } } @else {
        <h3 class="purple-warn">
          Você não possui nenhuma temporada cadastrada no momento...
        </h3>
        }
      </div>
    </div>


      <phub-details-photo
      [manager]="career.coach"
      [clubName]="career.teamCareer"
    />




    <button [routerLink]="['/home']" class="btn-arrow-return">
      <img src="../../../assets/icons/voltar.svg" alt="Voltar para a Home" />
    </button>

    <div class="career-bottom-buttons">
      <button routerLink="geral" class="btn-primary-white">Geral</button>
      <button
        [routerLink]="[this.formatSeason(career.fifaCareer)]"
        class="btn-primary-white"
      >
        @if (this.initialSeason()) {
        {{ showSeason(initialSeason()!) }}
        }
      </button>
      <button
        [routerLink]="['/career', career.id, 'geral', 'new-season']"
        routerLinkActive="active"
        class="btn-primary-white"
      >
        Adicionar Temporada
      </button>
      <button
        (click)="openModalConfirmation()"
        class="btn-primary-red"
        aria-label="Deletar Carreira"
      >
        Deletar Carreira
      </button>
    </div>
  </div>
  <div class="top-3-stats-side">
    <app-top-3-stats-players-career [idCareer]="career.id">

    </app-top-3-stats-players-career>
  </div>

  }
</div>
