:host {
  .box-player {
    width: 200px;
    height: 122px;
    background-color: var(--primary);
    border-radius: 10px;
    margin: 0px 0px 15px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    position: relative;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    &__info {

      display: flex;
      flex-direction: column;


      .circle-edit-player {
        position: absolute;
        right: 15px;
        bottom: 15px;
      }
      &__statistics {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;

        p {
          font-family: Roboto;
          font-size: 10px;
          font-style: italic;
          font-weight: 700;
          color: var(--white);
          margin: 0;
        }
      }
    }

    img.image-player {
      width: 95px;
      height: 95px;
      border-radius: 5px;
    }

    // Estilização da posição do jogador
    p.position-player {
      position: absolute;
      font-family: Roboto;
      font-size: 13px;
      font-style: italic;
      font-weight: 200;
      right: 13.5px;
      top: -9px;
      color: var(--white);
    }

    p.number-player {
      position: absolute;
      font-size: 48px;
      font-style: italic;
      font-weight: 700;
      color: var(--white);
      left: 10px;
      top: -37px;
      opacity: 15%;
    }

    p.name-player {
      font-family: Roboto;
      font-size: 15px;
      font-style: italic;
      font-weight: 400;
      color: var(--white);
      margin: 0 0;
    }
  }
}
