<app-header />
<phub-loader></phub-loader>
<phub-modal>
  <h1>oi</h1>

</phub-modal>
<div class="container">
  <div class="career">
    @defer { @if (getPlayerById(); as player) {
    <div class="career__content">
      <h2 class="title-content">
        {{ player.firstName }} {{ player.lastName }}
      </h2>
      @if (getCareerDetails(); as career) {
      <h4 class="subtitle-league">
        <p class="number-player">{{ player.kitNumber }}</p>

        {{ career.leagueCareer }} - {{ showSeason(this.season()!) }}
      </h4>

      }

      <div class="career__content__statistics">
        @if (this.season() === 'geral') {
          <phub-statistics [statisticsHistory]="player.statisticsHistory" />
        } @else {
          <phub-statistics [statisticsSeason]="this.actualSeason()!" />
        }
      </div>
    </div>

    <div class="career__player-icon-and-review">
      <phub-details-photo [player]="player" [clubName]="'Palmeiras'" />

      <app-top-3-stats-players-career [idCareer]="player.idCareer">
      </app-top-3-stats-players-career>
    </div>

    } } @error {
    <p>erro</p>
    }

    <div class="career-bottom-buttons">
      <button
        [routerLink]="['/career', this.idCareerOfPlayer(), this.season()]"
        routerLinkActive="active"
        class="btn-primary-white"
      >
        Elenco
      </button>
      <button
        [routerLink]="['/career', this.idCareerOfPlayer(), this.season()]"
        routerLinkActive="active"
        class="btn-primary-white"
      >
        Geral do Jogador
      </button>
      <button

        class="btn-primary-red align-final"
        aria-label="Deletar Carreira"
        (click)="deletePlayer()"
      >
        Deletar Jogador
      </button>
    </div>

    <button
      [routerLink]="['/career', this.idCareerOfPlayer(), this.season()]"
      class="btn-arrow-return"
    >
      <img src="../../../assets/icons/voltar.svg" alt="Voltar para a Home" />
    </button>
  </div>
</div>
