:host {
.active {
  background-color: red;
}


  .new-player {
    position: absolute;
  }


  .career {
    width: 1200px;
    height: 1018px;
  }

  .cadastrar-jogador-top {
    position: absolute;
    top: 0px;
    transform: translateY(-130px);
    cursor: pointer;

  }

  .add-player-in-season {
    text-wrap: nowrap;
    width: 300px;
    margin-left: 25px;
  }

  h2.title-content {
    text-transform: capitalize;
  }
  h3.purple-warn {
    width: 220px;
  }

  .left {
    left: 10%;
  }

}
