<phub-header />
<phub-loader></phub-loader>

<div class="container">
  @if (getCareerDetails(); as career) {
  <div class="career">
    <div class="career__content">
      <div class="career__content__header">
        @if (season() === "geral") {

        <h2 class="title-content">{{ season() }}</h2>
        <h4 class="subtitle-league left">
          {{ career.leagueCareer }} - {{ career.fifaCareer }}
        </h4>
        <phub-statistics-career [careerHistory]="career.careerHistory!" />

        } @else if (isValidTypeSeasonKey(season())) {
        <h2 class="title-content">{{ showSeason(season()) }}</h2>
        <h4 class="subtitle-league">
          {{ career.leagueCareer }} - {{ career.fifaCareer }}
        </h4>
        <phub-statistics-career [season]="this.seasonHistory()!" />

        } @else {
        <h2 class="title-content">Carreira não encontrada</h2>

        }
      </div>
      <p>2fdfsd</p>

      @if (season() === "geral") {

      <h2 class="semi-bold">Elenco</h2>
      @if (getPlayersFromCareer(); as playersGeral) {
      <phub-list-player [setPlayer]="playersGeral" />
      <div class="career__content__btns_bottom">
        <button
        routerLink="/career/{{ career.id }}/{{ season() }}/new-player"
        class="btn-primary"
      >
        Cadastrar Jogador
      </button>
      </div>

      } @else {
      <h3 class="purple-warn">
        Você não possui nenhum jogador cadastrado no momento...
      </h3>
      <button
        routerLink="/career/{{ career.id }}/{{ season() }}/new-player"
        class="btn-primary"
      >
        Cadastrar Jogador
      </button>
      } } @else if (isValidTypeSeasonKey(season())) {
      <h2 class="semi-bold">Elenco</h2>
      @if (getPlayersFromCareerFilteredBySeason(); as playersFilteredBySeason) {
        @defer {
          <phub-list-player [setPlayer]="playersFilteredBySeason" />
        } @placeholder {
          <h2 class="semi-bold">Carregando jogadores...</h2>
        }
      } @else {
      <h3 class="purple-warn">
        Você não possui nenhum jogador cadastrado nessa temporada no momento...
      </h3>
      <button
        routerLink="/career/{{ career.id }}/{{ season() }}/new-player"
        class="btn-primary"
      >
        Cadastrar Jogador
      </button>
      } @if (career.players) {
        <div class="career__content__btns_bottom">
          <button
          routerLink="/career/{{ career.id }}/{{ season() }}/new-player"
          class="btn-primary"
        >
          Cadastrar Jogador
        </button>
        <button
          (click)="modalAddPlayerToActualSeason()"
          class="btn-primary add-player-in-season"
          style="margin-left: 15px"
        >
          Adicionar jogador existente na carreira
        </button>
        </div>

      } } @else {
      <h2 class="semi-bold">
        Não foi possível encontrar dados associados a essa carreira.
      </h2>

      <button
        routerLink="/career/{{ career.id }}"
        class="btn-primary new-player"
      >
        Retornar ao menu da carreira
      </button>
      }
    </div>

    <phub-details-photo [clubName]="career.teamCareer" />

    <button [routerLink]="['/career', career.id]" class="btn-arrow-return">
      <img src="../../../assets/icons/voltar.svg" alt="Voltar para a Home" />
    </button>

    <div class="career-bottom-buttons">
      @if (season() === "geral") {
      <input
        class="btn-primary-white"
        placeholder="Digite aqui..."
        type="text"
        [value]="showSeason(initialSeason()!)"
        [matAutocomplete]="autoPosition"
        maxlength="0"
      />
      <mat-autocomplete #autoPosition="matAutocomplete">
        @for (season of seasons(); track season) {
        <mat-option [routerLink]="['/career', career.id, season.seasonName]">{{ showSeason(season.seasonName) }}</mat-option>
        }
      </mat-autocomplete>

      <button
        [routerLink]="['/career', career.id, season(), 'new-season']"
        routerLinkActive="active"
        class="btn-primary-white"
      >
        Adicionar Temporada
      </button>

      } @else {
      <button
        [routerLink]="['/career', career.id, 'geral']"
        routerLinkActive="active"
        class="btn-primary-white"
      >
        Geral
      </button>
      }

      <button [routerLink]="['/career', career.id]" class="btn-primary-white">
        {{ career.teamCareer }}
      </button>


    </div>
  </div>
  }
</div>
