$primary-palette: (
  50 : #e6e6e6,
  100 : #c1c1c2,
  200 : #989899,
  300 : #6e6e70,
  400 : #4f4f51,
  500 : #303032,
  600 : #2b2b2d,
  700 : #242426,
  800 : #1e1e1f,
  900 : #131313,
  A100 : #ef6c6c,
  A200 : #ea3e3e,
  A400 : #f50000,
  A700 : #db0000,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$secundary-palette: (
    50 : #f4e8f9,
    100 : #e3c5f0,
    200 : #d09ee6,
    300 : #bd77db,
    400 : #af59d4,
    500 : #a13ccc,
    600 : #9936c7,
    700 : #8f2ec0,
    800 : #8527b9,
    900 : #741aad,
    A100 : #f3e3ff,
    A200 : #deb0ff,
    A400 : #c97dff,
    A700 : #be63ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$white-palette: (
  50 : #fefefe,
  100 : #fcfcfc,
  200 : #fbfbfb,
  300 : #f9f9f9,
  400 : #f7f7f7,
  500 : #f6f6f6,
  600 : #f5f5f5,
  700 : #f3f3f3,
  800 : #f2f2f2,
  900 : #efefef,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
