:root {
  //Colors
  --primary: #303032;
  --primary-01: #2C2C2E;
  --primary-010: #272728;
  --secundary: #A13CCC;
  --secundary-01: #ab66c9;
  --secundary-010: #9A34C5;
  --secundary-15-opacity: #A13CCC26;
  --white: #F6F6F6;
  --white-01: #e6e6e6d0;
  --red: #D03232;
}
