:host {
  div.statistics {
    width: 515px;
    height: 120px;
    background-color: var(--primary-010);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
  }

  .column-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

}
